<!--This is the home page!-->


	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Number #1 Advertising company</h1>
                <p>For amazing advertising feel super free to contact us, and we will make your vision a reality!</p>
        
            </div>
        </div>
    </header>

    <div class="font-face"> 

    wn in admire. Stanhill on we if vicinity material in. Saw him smallest you providedon we if vicinity material in Saw him smallest you provided. 

</div>





</header>
<!-- screens Section -->
<section screens id="screens"></section>


<!-- about Section -->
<section about id="about"></section>


<!--videos Section -->
<section videos id="videos"></section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


    
    <!-- Contact Us -->
    <div class="contact">
        <div class="container">
            <h2 class="section-heading">Contact Us</h2>
            <p><span class="glyphicon glyphicon-earphone"></span><br> 054-6995699</p>
            <p><span class="glyphicon glyphicon-envelope"></span><br> nicole@advertising.com</p>
        </div>
    </div>
    <div class="small-print">
        <div class="container">
            <p>Copyright &copy; nicole munits 2018</p>
        </div>
    </div>
    
    <script src="http://api.openweathermap.org/data/2.5/forecast?id=524901&APPID={3bea3aa6fceb3de1bcf1d36b545a4ec8}"
    async defer></script>




</body>

</html>